@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
}

:root{
  --background-color: #1a1a1a;
  --primary-color: #22d4fd;
  --secundary-color: #f6f6f6;
}

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: 'Poppins', 'Arial';
}

.header{
  padding: 2% 0% 0% 10%;
  position: relative;
  background-color: var(--primary-color);
}
.navigation {
  gap: 80px;
  text-align: end;
  justify-self: center;
  padding: 2% 0% 0% 0%;
  max-height: 70px;
  
}


.List-Header{
  text-decoration: none;
  overflow: hidden;
  color: var(--secundary-color);
}

body{
  height: 100%;
  background-color: var(--background-color);
  color: var(--secundary-color);
}
