@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 8% 15%;
  background-color: #1a1a1a;
  /* height: 100vh; */
  justify-content: space-between;
}



.List-Header{
  text-decoration: none;
}

.container {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.Apresentation {
  display: flex;
  align-items: center;
}

.First-Text {
  color: #f6f6f6;
}

strong {
  color: #22d4fd;
}

.Paragraph {
  color: #f6f6f6;
}

.button-direction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  transition: .35s;
}

.Text-Social-Medias{
  color: #f6f6f6;
  font-size: 24px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 280px;
  height: 79px;
  border-radius: 8px;
  margin: 5px;
  border: 2px solid #22d4fd;
  background-color: #1a1a1a;
  transition: .35s;
  cursor: pointer;
}

.button-direction:hover > :not(:hover){
  transform: scale(0.9);
  opacity: .4;

}

Image-link{
  padding-left: 250px;
}


.Image {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  margin: 0px 100px;
}

.Link {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.footer{
  width: 100;
  padding: 24px;
  background-color: #22d4fd;
}

.Text-Footer{
  color: white;
  text-align: center;
  font-size: 24px;
}